.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
    padding: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 460px;
    height: 260px;
    background-color: rgb(126, 219, 236);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-around;
}

.card button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.card img {
    border-radius: 50%;
}

.card h2 {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
}

@media (max-width:500px) {
    .card-container {
        padding: 10px;
    }
}