header h1 {
    padding: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 30px;
}

header input {
    width: 270px;
    font-size: 14px;
    margin: 20px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
}

.button-container {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-container button {
    display: block;
    margin: 10px 8px;
    background-color: black;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

/* @media (max-width:500px) {
    .button-container button {
        width: 150px;
    }
} */